@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/shared/_Layout2.cshtml";
}

<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
            <h3>Chúng Tôi Là Ai</h3>
            <p>
                Giới thiệu cộng đồng, các hoạt động và dự án xung quanh cộng đồng. Tạo ra các chương trình quyên góp, giúp đỡ và ủng hộ cho những hoàn cảnh khó khăn không chỉ xung quanh những trái tim đầy lòng nhân ái, mà còn ở những nơi xa xôi, vùng núi khó khăn, nơi còn những mảnh đời khó khăn.
                Để rồi không ai bị bỏ lại phía sau, cùng tạo nên một xã hội phát triển đi cùng đồng lòng, đồng sức.
                Giúp các em là tương lai của đất nước được đến trường, được hoàn thiện sứ mệnh, đam mê và ước mơ của mình.
                Từ đó có thể nhân rộng chương trình ra nh
            </p>
        </header>
    </div>
</section><!-- End About Us Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="section-bg" id="services">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3 class="section-title">Dự Án Của Chúng Tôi</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class=" col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Tất Cả</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
                        <a href="~/assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="bi bi-plus"></i></a>
                        <a href="~/Home/Profile" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="~/Contributors/Create">Dự Án Ủng Hộ Sách Vở</a></h4>
                        <p>Ủng Hộ Sách Vở Cho Trẻ Em Vùng Cao</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
                        <a href="~/assets/img/portfolio/web3.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                        <a href="~/Home/Profile" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="~/Contributors/Create">Dự Án Ủng Hộ Quần Áo</a></h4>
                        <p>Ủng Hộ Quần Áo Cho Trẻ Em Vùng Cao</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
                        <a href="~/assets/img/portfolio/app2.jpg" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="App 2"><i class="bi bi-plus"></i></a>
                        <a href="~/Home/Profile" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="~/Contributors/Create">Dự Án Ủng Hộ Xe Đạp</a></h4>
                        <p>Ủng Hộ Xe Đạp Cho Các Bạn Học Sinh Nghèo Vượt Khó</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Facts Section ======= -->
<section id="facts">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>Những Con Số Ý Nghĩa</h3>s
        </header>

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
                <p>Dự Án</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
                <p>Người Ủng Hộ</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
                <p>Lượt Ủng Hộ</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span>1M</span>
                <p>Số Tiền Ủng Hộ</p>
            </div>

        </div>

        <div class="facts-img">
            <img src="~/assets/img/facts-img.png" alt="" class="img-fluid">
        </div>

    </div>
</section><!-- End Facts Section -->
<!-- ======= Team Section ======= -->
<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3>Những Tấm Lòng Nhân Ái</h3>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img src="~/assets/img/team-1.jpg" class="img-fluid" style="width:500px;height:350px;">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Lê Hoàng Hạo Nhiên</h4>
                            <span>Sinh Viên</span>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/assets/img/team-2.jpg" class="img-fluid" style="width:500px;height:350px;">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Phạm Bích Phương</h4>
                            <span>Sinh Viên</span>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img src="~/assets/img/team-3.jpg" alt="" class="img-fluid" style="width:500px;height:350px;">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Lê Đức Chính</h4>
                            <span>Công Nhân</span>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img src="~/assets/img/team-4.jpg" class="img-fluid" style="width:500px;height:350px;">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Phan Phương Thảo</h4>
                            <span>Giáo Viên</span>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h3>Câu Hỏi</h3>
            <p>Liên Hệ</p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
                <div class="contact-address">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Địa Chỉ</h3>
                    <address>82 Nguyễn Trung Trực, Đà Nẵng</address>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="bi bi-phone"></i>
                    <h3>Số Điện Thoại</h3>
                    <p><a href="tel:+155895548855">84 0905 556677</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-email">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                </div>
            </div>
        </div>
        <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Tên Của Bạn" required>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Của Bạn" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Dự Án Cần Hỏi" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" placeholder="Câu Hỏi" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Câu Hỏi Đã Được Gửi. Cảm Ơn!</div>
                </div>
                <div class="text-center"><button type="submit">Gửi Câu Hỏi</button></div>
            </form>
        </div>

    </div>
</section><!-- End Contact Section -->