
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/shared/_Layout2.cshtml";
}

<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Dự Án Ủng Hộ Sách Vở</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
            </ol>
        </div>

    </div>
</section><!-- Breadcrumbs Section -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="~/assets/img/portfolio/details-1.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/assets/img/portfolio/details-2.jpg" alt="">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/assets/img/portfolio/details-3.jpg" alt="">
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Thông Tin Về Dự Án</h3>
                    <ul>
                        <li><strong>Nơi Tổ Chức Dự Án</strong>: Trung Tâm Văn Hóa Quận Sơn Trà</li>
                        <li><strong>Ngày Tổ Chức Dự Án</strong>: Ngày 23 Tháng 03 Năm 2023</li>
                        <li><strong>Thông Tin Về Tổ Chức</strong>: <a href="#">www.facebook.com</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>Nội Dung Của Dự Án Lần Lần Này</h2>
                    <p>
                        Hoạt động không chỉ góp phần nâng cao hơn ý thức tự giác giữ gìn sách vở sạch đẹp cho học sinh mà còn là cách ứng xử có văn hóa với sách, là sự sẻ chia, quan tâm của các em đến những bạn có hoàn cảnh khó khăn.  Đọc sách giúp con người nâng cao kiến thức và mở rộng tầm hiểu biết. Vì thế, việc không chiếm hữu hay giữ riêng sách cho riêng mình mà san sẻ, sẵn sàng tặng sách cho các bạn có hoàn cảnh khó khăn, để các bạn yên tâm học tốt là một việc làm rất quý.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Details Section -->